{% extends 'padre.html' %}

{% load static %}

{% block contenido %}
    
    <main class="container">
        <h1 class=" text-center title" style="color: blue;"><u><b>Alumnos</b></u> </h1>
        <a href="alta_alumnos" class=" btn btn-primary btn-sm "> Nuevo Alumno/a </a>
            <h2 class="text title" style="color:aquamarine"> <u><b>Listado de alumnos regulares:</b></u></h2>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>        
                </thead>
                <tbody>
                    {% for n in alumnos %}
                        <tr>
                            <td>{{n.nombre}}</td>
                            <td>{{n.apellido}}</td>

                            {% if request.user.is_authenticated %}
                            <td><a href="{% url 'eliminar_alum' n.id%}" class="btn btn-danger"> BORRAR </a></td>
                            {% endif %}
                            <td><a href="{% url 'editar_alum' n.id%}" class="btn btn-warning btn-sm"> EDITAR </a></td>
                            

                        </tr>
                           
                    {% endfor %}
                </tbody>
        </main>
{% endblock %}